About Dataset

This dataset represents vending machine data from various locations in Central New Jersey. The locations include a library, a mall, office location and a manufacturing locations. Data scientists can make use of the data to understand trends, user behavior and overall preferences by consumers at different locations.

The location and machine data is as follows
(1) Gutten Plans - Frozen dough specialist company that operates 24/5 . Vending machine assigned is GuttenPlans x1367
(2) EB Public Library - Public library that has high foot traffic 5-6 days a week. Vending machine : EB Public Library x1380
(3) Brunswick Sq Mall - Mall with average foot traffic 7 days a week. Vending machine(s) : BSQ Mall x1364 - Zales & BSQ Mall x1366 - ATT
(4) Earle Asphalt - A construction engineering firm that operates 5 days a week. Vending machine : Earle Asphalt x1371

#Informaci√≥n dataset https://www.kaggle.com/datasets/awesomeasingh/vending-machine-sales/

In [8]:
import pandas as pd
#from google.colab import drive
#import os
#drive.mount ('/content/gdrive', force_remount=True)

In [19]:
#%cd '/content/gdrive/MyDrive/Vending Machine Sales'
df = pd.read_csv ("D:/Python/DataSet/Vending_ Machine_Sales/vending_machine_sales.csv")
#df = pd.read_csv('vending_machine_sales.csv', sep=',')

In [42]:
df.shape

(6445, 18)

In [27]:
df.dtypes

Status          object
Device ID       object
Location        object
Machine         object
Product         object
Category        object
Transaction      int64
TransDate       object
Type            object
RCoil            int64
RPrice         float64
RQty             int64
MCoil            int64
MPrice         float64
MQty             int64
LineTotal      float64
TransTotal     float64
Prcd Date       object
dtype: object

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6445 entries, 0 to 6444
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Status       6445 non-null   object
 1   Device ID    6445 non-null   object
 2   Location     6445 non-null   object
 3   Machine      6445 non-null   object
 4   Product      6441 non-null   object
 5   Category     6260 non-null   object
 6   Transaction  6445 non-null   int64
 7   TransDate    6445 non-null   object
 8   Type         6445 non-null   object
 9   RCoil        6445 non-null   int64
 10  RPrice       6445 non-null   float64
 11  RQty         6445 non-null   int64
 12  MCoil        6445 non-null   int64
 13  MPrice       6444 non-null   float64
 14  MQty         6445 non-null   int64
 15  LineTotal    6445 non-null   float64
 16  TransTotal   6445 non-null   float64
 17  Prcd Date    6445 non-null   object
dtypes: float64(4), int64(5), object(9)
memory usage: 906.5+ KB

In [29]:
df.columns

Index(['Status', 'Device ID', 'Location', 'Machine', 'Product', 'Category',
       'Transaction', 'TransDate', 'Type', 'RCoil', 'RPrice', 'RQty', 'MCoil',
       'MPrice', 'MQty', 'LineTotal', 'TransTotal', 'Prcd Date'],
      dtype='object')

In [21]:
df.head(5)

,Status,Device ID,Location,Machine,Product,Category,Transaction,TransDate,Type,RCoil,RPrice,RQty,MCoil,MPrice,MQty,LineTotal,TransTotal,Prcd Date
0,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14515778905,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,3.5,1/1/2022
1,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14516018629,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,5.0,1/1/2022
2,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516018629,"Saturday, January 1, 2022",Credit,123,1.5,1,123,1.5,1,1.5,5.0,1/1/2022
3,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516020373,"Saturday, January 1, 2022",Credit,123,1.5,1,123,1.5,1,1.5,1.5,1/1/2022
4,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14516021756,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,3.5,1/1/2022

In [23]:
df.describe()

,Transaction,RCoil,RPrice,RQty,MCoil,MPrice,MQty,LineTotal,TransTotal
count,6.445000e+03,6445.000000,6445.000000,6445.000000,6445.000000,6444.000000,6445.000000,6445.000000,6445.000000
mean,1.513391e+10,133.172692,1.926804,1.013344,133.172692,1.926870,1.013344,1.949651,2.183204
std,2.983541e+08,12.909228,0.673113,0.121324,12.909228,0.673145,0.121324,0.703080,1.044052
min,1.451578e+10,110.000000,1.000000,1.000000,110.000000,1.000000,1.000000,1.000000,1.000000
25%,1.490924e+10,122.000000,1.500000,1.000000,122.000000,1.500000,1.000000,1.500000,1.500000
50%,1.516775e+10,138.000000,1.500000,1.000000,138.000000,1.500000,1.000000,1.500000,2.000000
75%,1.538483e+10,144.000000,2.500000,1.000000,144.000000,2.500000,1.000000,2.500000,2.750000
max,1.560392e+10,165.000000,5.000000,3.000000,165.000000,5.000000,3.000000,8.000000,8.000000

In [30]:
pd.unique(df['Location'])

array(['Brunswick Sq Mall', 'Earle Asphalt', 'GuttenPlans',
       'EB Public Library'], dtype=object)

In [31]:
pd.unique(df['Category'])

array(['Carbonated', 'Food', 'Non Carbonated', 'Water', nan], dtype=object)

In [32]:
pd.unique(df['Machine'])

array(['BSQ Mall x1366 - ATT', 'BSQ Mall x1364 - Zales',
       'Earle Asphalt x1371', 'GuttenPlans x1367',
       'EB Public Library x1380'], dtype=object)

In [33]:
pd.unique(df['Product'])

array(['Red Bull - Energy Drink - Sugar Free',
       'Takis - Hot Chilli Pepper & Lime',
       'Bai Antioxidant - Brasilia BB',
       "Miss Vickie's Potato Chip - Sea Salt & Vinega",
       "Miss Vickie's Potato Chip - Lime & Cracked Pe",
       'Monster Energy Original',
       'Seapoint Farms Dry Roasted Edamame - Wasabi',
       'Snapple Diet Tea - Lemon', 'Skinny Pop Popcorn',
       'Stretch Island Fruit Leathers Snacks - Variet',
       'KitKat - Crisp Wafers', 'Wonderful Pistachios - Variety',
       'Spindrift - Sparkling Water  Lime',
       "Miss Vickie's Potato Chip - Sea Salt Original",
       'Jacks Links Bar Beef Strip',
       'Vitamin Water - XXX Acai BB Pomegranate',
       'Cheetos - Fleming Hot Crunchy',
       'Pure Organic Fruit Bar - Strawberry Banana', 'Oreo Mini',
       'Nutter Butter Bites', 'Jack Links Beef Steak Original',
       "Robert Irvine's - Fit Crunch -  Chocolate Pea",
       'Good Health Veggie Stix - Zesty Ranch',
       'Cheetos Baked - Flaming Hot',
       'S. Pellegrino Sparkling Mineral Water', 'Mini Chips Ahoy',
       'Newtons Fig Bar', 'SunChips Multigrain - Salsa',
       'Bubly - Grapefruit', 'Poland Springs Water',
       'Chum Fruit Bites - Mango/Strawberry',
       'Snapple Diet Tea - Raspberry',
       'Zevia Zero Calorie Energy - Mango Ginger',
       'V8 Vegetable Juice - Original', 'BodyArmor LYTE  - Peach Mango',
       'SunChips Multigrain - Harvest Cheddar',
       'Good Health Veggie Stix - Sea Salt',
       'Snapple Diet Tea - Peach Tea', 'Keto Krisp - Almond/Chocolate',
       'Larabar - Peanut Butter chocolate Chip',
       'Bai Antioxidant - Molokai Coconut', 'Monster Energy  Zero Ultra',
       'Chesters Fries Flaming hot',
       "Miss Vickie's Potato Chip - Jalapeno", 'Coca Cola - Zero Sugar',
       'Red Bull - Original', 'Ruffles Baked  - Cheddar & Sour Cream',
       'Ritz Bits Cheese', 'CheezIt - Original', 'Takis FUGEO mini',
       'BodyArmor LYTE  - Berry Punch',
       "Miss Vickie's Potato Chip - Smokehouse BBQ",
       'Vitamin Water - Ice Cool Blue Lavender',
       'CheezIt - White Cheddar',
       "Nature's Valley Crunchy Granola Bar - Oats &",
       'Lays Baked - Original', 'Bai Antioxidant - Zambia Bingcherry',
       'Bubly - Cherry', 'Belvita Breakfast Cookies - Blueberry',
       'Spindrift - Sparkling Water Raspberry Lime',
       'SunChips Multigrain - Original', 'Popchips Potato - Barbeque',
       "Snyder's of Hanover Pretzel - Cheddar Cheese",
       'Pure Organic Pineapple Passionfruit',
       'Keto Krisp - Almond Butter',
       "Nature's Valley Chewy Granola Bar - Fruit & N",
       'Vitamin Water - Squeezed Lemonade', 'Popchips Potato - Sea Salt',
       'CheezIt - Double Cheese', 'Lays Baked - Barbecue',
       'Sunkist Soda - Orange', 'Funyuns - Flaming Hot',
       'Munchies Snack mix Flaming Hot',
       'NuGo Dark Chocolate - Choc Chip', 'Oreo Single Server 6 ct',
       'Cheetos Flaming Hot Limon Crunchy',
       'Oberto Specialty Meats - Original', 'Doritos Famin Hot Nacho',
       'Kinder - Bueno - Crispy Creamy Chocolate',
       'Belvita Snack Packs - Blueberry',
       'RXBAR - Protein Bar - Peanut Butter', 'Snapple Tea - Raspberry',
       'KIND Bar - Dark Choc Almond SeaSalt', 'Fritos - Original',
       'NuGo Dark Chocolate - Pretzel Sea Salt',
       'Cheetos Baked - Crunchy Cheese',
       'CheezIt - Cheddar Sour Cream and Onion',
       'RXBAR - Protein Bar - Chocolate Sea Salt',
       'Starbucks Doubleshot Energy - Mocha', 'Bubly - Blackberry',
       'Doritos Nacho Cheese', 'Cheetos - Crunchy',
       'Spindrift - Sparkling Water - Pineapple', 'Iberia Coconut Water',
       'Doritos Cool Ranch', 'Lays - Classic',
       'Genius Keto Bar - Chocolate Dream', nan,
       'Lenny & Larrys - SnickerDoodle',
       'Autumns Granola Bar - Cinnamon Almond',
       'SunChips Multigrain - French Onion',
       'Bai Antioxidant - Kula Watermelon', 'Honest Tea - Berry Hibiscus',
       'Hungry Buddha - Chocolate Chip', 'Remedy Kombucha - Ginger Lemon',
       'Doritos Dinamita Chile Lemon',
       'Starbucks Refresher - Real Coconut Water',
       'Hungry Buddha - Coconut Cocoa',
       'Made in Nature - Mangoes Sweet & Tangy',
       'Belvita Snack Packs - Cinnamon',
       'Keto Bar - Creamy Peanut Butter Chocolate',
       'Skippy Peanut Butter - Go Paks',
       'Belvita Snack Bites - Cinnamon BS Go Paks',
       'Pop Corners - Kettle Corn',
       'Bai Antioxidant - Kupang strawberry kiwi',
       'Quaker Caramel Rice Crisps', 'Belvita Snack Packs - Chocolate',
       'Pop Corners - Sea Salt', 'Pop Corners - Spicy Queso',
       'Quaker Apple Cinnamon Rice Crisps',
       'Bai Antioxidant - Tanzania Lemon Super Tea',
       'Quaker ButterMilk Ranch Rice Crisps',
       'Bai Lemonade - Burundi Blueberry', 'Pop Corners - White Cheddar',
       'Bubly - Mango', 'Nutri Grain Apple Cinnamon',
       'Quaker Cheddar Rice Crisps', 'Cheetos Puffs',
       'Cheetos Cheddar Jalapeno', 'Bubly - Lime',
       "Nature's Garden Trail Mix - Cranberry Healthy",
       'BodyArmor LYTE - Strawberry Lemonade',
       'Keep Healthy - Chocolate Fudge', 'CheezIt - Go Paks',
       'Lenny & Larrys - Chocolate Chip',
       "Snyder's of Hanover Pretzel Pieces - Honey Mu",
       'Belvita Breakfast Biscuit Bites - Blueberry',
       "Snyder's of Hanover Pretzel Pieces - Hot Buff",
       'Ice Breakers Ice Cubes - PepperMint', 'Goldfish Baked - Cheddar',
       'Doritos Spicy Nacho', 'Pop Corners - Sweet & Salty Kettle',
       'Mini Chips Ahoy - Go Paks', 'Oreo Mini - Go Paks',
       'Teddy Grahams - Go Paks',
       'BodyArmor  LYTE - Blueberry Pomegranate',
       'Starbucks Doubleshot Energy - Coffee',
       "Snyder's of Hanover Pretzel Pieces - Cheddar",
       "Nature's Bakery Fig Bar - Blueberry",
       "Nature's Bakery Fig Bar - Raspberry",
       'Canada Dry - Ginger Ale & Lemonde', 'Canada Dry - Ginger Ale',
       'Snapple Tea - Lemon', 'Popchips Potato - Sour Cream & Onion',
       'Pringles - Cheddar Cheese', 'Pringles - Sour Cream & Onion',
       'Coca Cola - Regular', 'Snapple Tea - Peach',
       'Zone Perfect - Chocolate Chip Cookie Dough',
       "Nature's Garden Trail Mix - Omega 3",
       'S. Pellegrino Essenza Mineral Water - Blood O',
       'Snapple Lemonade - black berry', 'Snapple Lemonade - watermelon',
       'Snapple Lemonade - pineapple', 'Zevia Organic Tea - Peach',
       "Nature's Garden Trail Mix - Heart Healthy Mix",
       'Keto Bar - Chocolate Dream', 'Lindens - Chocolate Chippers',
       'Pure Organic Fruit Bar - Raspberry Lemonade',
       'TruBar - Cookie Dough', 'TruBar - Daydreaming about Donuts'],
      dtype=object)

In [35]:
df['TransTotal'].describe()

count    6445.000000
mean        2.183204
std         1.044052
min         1.000000
25%         1.500000
50%         2.000000
75%         2.750000
max         8.000000
Name: TransTotal, dtype: float64

In [38]:
grouped_data = df.groupby('Category')
grouped_data.describe()
grouped_data.mean()

,Transaction,RCoil,RPrice,RQty,MCoil,MPrice,MQty,LineTotal,TransTotal
Category,,,,,,,,,
Carbonated,1.510553e+10,142.880415,2.057047,1.006101,142.880415,2.057047,1.006101,2.067267,2.140635
Food,1.513296e+10,124.250292,1.702232,1.016044,124.250292,1.702232,1.016044,1.729653,2.045216
Non Carbonated,1.516543e+10,144.353521,2.551056,1.004225,144.353521,2.551056,1.004225,2.561972,2.809507
Water,1.512978e+10,144.322981,1.849379,1.024845,144.322981,1.849379,1.024845,1.890269,2.031573